<?xml version="1.0"?>
<ruleset name="PSR2-XMF">

    <arg name="basepath" value="./src"/>

    <description>PSR2 standard rules for Xmf</description>

    <exclude-pattern>*/_archive/*</exclude-pattern>
    <exclude-pattern>*/docs/*</exclude-pattern>
    <exclude-pattern>*/tests/*</exclude-pattern>
    <exclude-pattern>*/unit/*</exclude-pattern>
    <exclude-pattern>*/vendor/*</exclude-pattern>

    <!-- Include the whole PSR-2 standard -->
    <rule ref="PSR2">
    </rule>
    <rule ref="Squiz.Classes.ClassFileName.NoMatch">
        <exclude-pattern>*/tests/*</exclude-pattern>
    </rule>
</ruleset>
