includes:
#	- ../../phpstan.neon
parameters:
	level: max
	paths:
		- .
	fileExtensions:
		- php
		- phtml
	excludePaths:
		- tests/*
	ignoreErrors:
		-
			message: '#Trait .+ is used zero times and is not analysed\.#'
			path: src/Security/SerializableTrait.php
