includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src
    scanDirectories:
        - stubs
    excludePaths:
        - tests/
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: '#Trait .+ is used zero times and is not analysed\.#'
            path: src/Security/SerializableTrait.php
